* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: rgb(74, 144, 209);
}

body {
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}

h1 {
  text-align: center;
  margin-top: 2rem;
  color: white;
}
.card-container {
  margin-top: 2rem;
  height: 90vh;
  overflow: auto;
}
.card-body {
  /* width: 300px; */

  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 60%;
  padding: 12px;
  border: 1px solid rgb(243, 243, 243);
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.card-media img {
  margin-top: 1rem;
  margin-right: 2rem;
  border-radius: 20%;
  height: 110px;
  width: 150px;
}

.card-content {
  margin-top: 1.5rem;
  width: 50%;
}

.path {
  margin-top: 2.5rem;
}
